<!DOCTYPE html>
<html>
  <head>
    <title>twitter</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    <div class="container text-right">
      <div class="input-group m-4 row">
        <div class="col-7"></div>
        <div class="input-group-prepend col">
          <input type="text" class="form-control" placeholder="メールアドレス" aria-label="Input group example" aria-describedby="btnGroupAddon2">
          <input type="text" class="form-control" placeholder="パスワード" aria-label="Input group example" aria-describedby="btnGroupAddon2">
        </div>
        <button type="button" class="btn btn-outline-primary">ログイン</button>
      </div>
     
    </div>
    
    <div class="media-body">
       <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: 'post nav-item nav-link' do %>
          <button type="button" class="btn btn-primary text-right">ログアウト</button>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: 'post nav-item nav-link' do %>
          <form class="float-right">
            <div class = "text-right">
              <button type="button" class="btn btn-primary">ログイン</button>
            </div>
          </form>
        <% end %>
      <% end %>

      <% unless user_signed_in? %>
         <%= link_to "アカウント作成", new_user_registration_path %>
      <% end %>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>